* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

header, footer {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
}

header nav {
    width: 100%;
    height: 100%;
    text-align: center;
}

.wrapper {
    height: calc(100vh - 100px);
}

.wrapper h1 {
    text-align: center;
    margin: 3rem 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    border-top: 10px solid salmon;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.askBox, .task, .status {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #333;
}

.task {
    border-bottom: 1px solid #999;
    display: flex;
    flex-direction: column;
}

.checkBox {
    display: flex;
    align-items: center;
    width: 100%;
}

.number {
    padding-left: 1rem;
    font-weight: 500;
}

.checkBox label {
    cursor: pointer;
}

.checkBox label i {
    color: #333;
    font-size: 1.2rem;
}

.checkBox input {
    display: none;
}

.fa-check.on {
    color: red;
}

.askBox span,
.checkBox label {
    width: 50px;
    padding: 1rem;
}

.askBox input,
.content {
    width: 450px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    outline: none;
    background: none;
    border: 0;
}

.content {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#deleteBtn, #completeBtn {
    outline: none;
    border: none;
    background: none;
    opacity: 0;
    transition: all 0.35s;
    cursor: pointer;
}


#deleteBtn i {
    transition: all 0.35s;
    font-size: 1.2rem;
}

.content:hover #deleteBtn {
    opacity: 1;
}

#deleteBtn:hover i {
    transform: scale(1.1);
}

.task p {
    text-align: left                 ;
}


.status {
    width: 450px;
    margin: 0 auto;
    border-bottom: none;
    padding: 1rem 0.2rem;

}

.active {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.active button {
    margin: 0.5rem;
    cursor: pointer;
}

.active button .all {
    font-weight: 500;
}