<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/214e267407.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:insert="layout/header.html" id="header"></header>
    <div class="wrapper">
        <h1>TODO LIST</h1>
        <div class="container">
            <div class="askBox">
                <span id="saveBtn" th:onclick="|index.save(this)|"><i class="fas fa-list-ul"></i></span>
                <input type="text" name="list" id="list" placeholder="What needs to be done?">
            </div>
            <ul class="task" >
                <li class="checkBox" th:each="todo, i : ${todos}">
                    <input type="hidden" id="id" th:value="${todo.id}">
                    <p class="number" th:text="${i.index+1}"></p>
                    <label for="check" class="completeBtn">
                        <i th:classappend="${todo.completed ? 'on' : ''}" class="fas fa-check"></i>
                    </label>

                    <input th:class="'check ' + 'check'+${todo.id}"  type="checkbox"  th:onclick="|index.completeById(${todo.id}, this)|"/>

                    <div id="content" th:class="'content '+ 'content'+${todo.id}">
                        <span class="title" th:text="${todo.title}"></span>
                        <button th:onclick="|index.deleteById(${todo.id})|" class="deleteBtn" type="button">
                            <i class="fas fa-backspace"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="status">
            <span><strong>1</strong> item left</span>
            <div class="active">
                <button class="all" type="button">ALL</button>
                <button type="button">ACTIVE</button>
                <button type="button">COMPLETED</button>
            </div>
        </div>
    </div>
    <footer th:insert="layout/footer.html" id="footer"></footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/todoList.js}"></script>
</body>
</html>